DEBUG=False
ALLOWED_HOSTS=.europython.eu
SECRET_KEY={{ vault_ep2015_django_secret_key }}

STRIPE_ENABLED=True
STRIPE_COMPANY_NAME="Not set"
STRIPE_COMPANY_LOGO=logo_path
STRIPE_SECRET_KEY=not-set
STRIPE_PUBLISHABLE_KEY=not-set

MAX_TICKETS=25

PAYPAL_RECEIVER_EMAIL=billing@europython.eu
PAYPAL_TEST=True

SOCIAL_AUTH_GOOGLE_OAUTH2_KEY=not-set
SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET=not-set

RECAPTCHA_PRIVATE_KEY = not-set
RECAPTCHA_PUBLIC_KEY = not-set
